@import url("file:///home/mithe/.cache/wal/colors-waybar.css");
@define-color black #181818;
@define-color red #ab4642;
@define-color yellow #ffaa1d;
@define-color blue #7cafc2;

* {
  transition: none;
  box-shadow: none;
}

#waybar {
    font-family: "Fira Code Nerd Font";
    font-size: 18pt;
    font-weight: 400;
    color: @foreground;
    background: @background-alpha;
}

#workspaces {
    margin: 0 4px;
}

#workspaces button {
    margin: 4px 0;
    padding: 0 4px;
    color: @foreground;
}

#workspaces button.visible {
}

#workspaces button.active {
    border-radius: 4px;
    background-color: @color1;
}

#workspaces button.urgent {
    color: rgba(238, 46, 36, 1);
}

#tray {
    margin: 4px 4px 4px 4px;
    border-radius: 4px;
    background-color: @color1;
}

#tray * {
    padding: 0 6px;
    border-left: 1px solid @black;
}

#tray *:first-child {
    border-left: none;
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #backlight, #custom-storage, #custom-updates, #clock, #temperature{
    margin: 4px 2px;
    padding: 0 4px;
    background-color: @color1;
    border-radius: 4px;
    min-width: 20px;
}

#battery.warning {
    color: @background;
    background-color: @yellow;
}

#battery.critical {
    background-color: @red;
}

#pulseaudio.muted {
    background-color: @red;
}

#pulseaudio.bluetooth {
    color: @blue;
}

#clock {
    margin-left: 0px;
    margin-right: 4px;
    background-color: transparent;
}

#temperature.critical {
    color: @red;
}

#window {
    font-size: 0.9em;
    font-weight: 400;
}

