@import url("file:///home/mithe/.cache/wal/colors-waybar.css");
* {
    border: none;
    min-height: 0;
    font-family: "Firecode nerd font";
    font-weight: 500;
    font-size: 20px;
    padding: 0;
}

window#waybar {
    font-size: 55;
    background: @background-alpha;
    border: 0px solid @color9;
}

tooltip {
    background-color: @background;
    border: 0px solid @color9;
    font-size: 2px;
}

tooltip label {
	margin: 4px;
    color: @color9;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#weather,
#pulseaudio {
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
	border-radius: 4px;
}

#workspaces {
    margin: 6px 6px 6px 6px;
    border-radius: 4px;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 2px 4px;
    color: @color9;
    background-color: @background;
    border: 1px solid @color9; 
    border-radius: 4px;
    margin-right: 2px;
}

#workspaces button.active {
    color: @background;
    background-color: @color9;
}

#workspaces button.urgent {
    background-color: @color1;
	color: #1f1c27;
	border: 2px solid @color1;
}

#workspaces button.empty {
    background-color: @background;
	color: @color9;
	border: 0px solid #e542c0;
}

#clock {
    background-color: @color9;
    border: 2px solid @color9;
    color: @background;
}

#network,
#weather,
#pulseaudio,
#battery,
#tray {
    background-color: @background;
    border: 1px solid @color9;
    color: @color9;
}

#weather,
#network {
	min-width: 20px;
}

#battery,
#pulseaudio {
	min-width: 60px;
}

#pulseaudio.muted {
    background-color: @color9;
    color: @background;
}

#battery.warning {
    background-color: #ffc907;
    border: 1px solid #ffc907;
    color: @background
}

#battery.critical {
    background-color: #ce3840;
    border: 1px solid #ce3840;
    color: @foreground
}

#battery.urgent {
    color: @color9;
    border: 2px solid @color9;
}

#window {
	padding-left: 10px;
	padding-right: 5px;
	transition: none;
	color: @color9;
}

#custom-control {
	font-size: 20px;
	padding-left: 5px;
	padding-right: 5px;
	transition: none;
	color: @color9;
}
